.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__link {
  padding: 10px;
}
.header__menu__item__sub {
  display: none;
  width: auto;
  position: absolute;
  top: 36px;
  transition: all 0.2s ease-in-out;
}

.header__menu__item__sub > .header__menu__item__sub__item:hover {
  background-color: #f1f1f1;
}

.header__menu__item {
  width: auto;
  /* padding: 10px; */
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
  position: relative;
}

.header__title {
  text-decoration: none;
}

.header__menu__item > .header__link:hover {
  background-color: #f1f1f1;
}

.header__main__title {
  font-weight: 400;
  font-size: 32px;
  color: #333;
  padding: 20px;
}

.header__connection__item {
  padding: 8px 0 8px 10px;
}

.header__chevron {
  width: 20px;
  height: 20px;
  margin: 0 0 0 5px;
  transition: all 0.2s ease-in-out;
}

.header__chevron:hover {
  cursor: pointer;
}

.header__chevron__active {
  transform: rotate(180deg);
}

.header__sub__menu__active {
  display: block;
}
